.category :global{
  background-size: cover;
  width: 287px;
  height: 187px;
  border: 1px solid rebeccapurple;
  border-radius: 20px;
  margin-bottom: 70px;
  .category-name{
    position: relative;
    top: 142px;
    border-radius: 0 0 20px 20px;
    color: #fff;
    opacity: 0.5;
    background-color: #041e4b;
    padding: 12px 0;
    text-align: center;
  }
  .category-image-wrapper{
    background: #00b3ee;
  }
}